# Dependencies
node_modules/
dist/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# Build
build/
*.zip

# AWS
.aws/
